pandas
gspread
gspread-dataframe
openai==0.28
pyTelegramBotAPI
pyMuPDF
Flask
oauth2client
google-api-python-client
python-dotenv
xlrd==2.0.1
openpyxl
PyPDF2
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
telebot
